@use "sass:math";

$sidebar-opened-width: 204px;
$sidebar-closed-width: 64px;


.layout-bg {
  @include themify {
    color: themed("textColor");
    background-color: themed("backgroundColor");
  }
}

.layout-container {
  display: flex;

  main {
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
  }

  aside {
    width: 320px;
    height: 100%;
    display: none;

    @include md {
      display: block;
    }
  }
}

section {
  padding: math.div($base-padding, 4) $base-padding;
  .title {
    font-size: $font-size-lg;
  }
  .description {
    font-size: $font-size-md;
    color: #555;
  }
}

.section-navigator {
  padding: $base-padding 0;
  width: 100%;
  border: 0 0 $border-width 0;
  border-bottom-color: $border-bottom-color;
}
